@import '@theme/variables';

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image,
.image-loader {
    @height: 10em;

    height: @height;
    max-height: @height;
    max-width: 100%;
}

.hidden {
    display: none;
}
